<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Leuven Cycling Routes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png">
</head>

<body>
    <h1><a href="data/html/map.html">GPX Leuven overview map</a></h1>
    <ul>
        {% for name, filename in names %}
        <li><a href="data/html/route_{{ filename }}"> {{ name }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>